<h1 class="mb-4">Projects</h1>

<%= link_to "New Project", new_project_path, class: "btn btn-primary mb-3" %>

<table class="table table-hover align-middle">
  <thead class="table-light">
    <tr>
      <th>Code</th>
      <th>Date</th>
      <th>Address</th>
      <th>Description</th>
      <th class="text-end">Job Value</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project.code, project_path(project), class: "text-decoration-none" %>
        </td>
        <td><%= project.date %></td>
        <td><%= project.address %></td>
        <td><%= project.description %></td>
        <td class="text-end">
          <%= number_to_currency(project.job_value) if project.job_value %>
        </td>
        <td>
        <%= project
            .project_contributors
            .find { |pc| pc.role.to_s.casecmp("Owner").zero? }
            &.contributor
            &.company_name || "—" %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>