<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Qs Jobs" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Qs Jobs">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


    <% if user_signed_in? %>
      <%= button_to "Log out",
            destroy_user_session_path,
            method: :delete,
            class: "btn btn-outline-secondary" %>
    <% end %>

  <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-4">
      <div class="container-fluid">
        <%= link_to "QS Jobs", root_path, class: "navbar-brand" %>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <%= link_to "Projects", projects_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "Contributors", contributors_path, class: "nav-link" %>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown">
                Contributors by Type
              </a>

              <ul class="dropdown-menu">
                <% Contributor::TYPES.each do |type| %>
                  <li>
                    <%= link_to type.humanize,
                          contributors_path(contributor_type: type),
                          class: "dropdown-item" %>
                  </li>
                <% end %>
              </ul>
            </li>

          </ul>

          <span class="navbar-text me-3">
            <%= current_user.email %>
          </span>

          <%= button_to "Logout",
                destroy_user_session_path,
                method: :delete,
                class: "btn btn-outline-secondary btn-sm" %>
        </div>
      </div>
</nav>
    
    <%= yield %>
  </body>
</html>
